body,
html {
    height: 100%;
    background: url("battlefield.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    /* background: #4B4168; */
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
    text-align: center;
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    /* flex-wrap: wrap; */
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 10px;
    flex-wrap: wrap;
    min-height: 10vh;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0 6px 6px #d99236;
}

.topnav {
    display: none;
}

header h1 {
    color: white;
    flex: 1.5;
    flex-shrink: 0;
    display: flex;
    margin-left: 5px;
}

nav {
    flex: 1;
    flex-shrink: 0;
}

nav ul,
a:any-link {
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: justify;
}

header a:hover {
    color: rgb(161, 173, 201);
    text-emphasis: bold;
    text-shadow: 0 0 3px #11e3f1;
    transform: scale(1.1);
}

header nav {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    font-family: "Roboto", sans-serif;
}

header nav ul {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 100%;
}

.navbar-brand {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}

.link-grow {
    transform: scale(2);
    background: rgba(248, 244, 137, 0.5);
}

.search {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
}

#search {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.content {
    /* margin-top: 200px !important;
    margin-left: 320px;
    min-height: 80vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -50px;
    /* justify-content: center; */
}


/* @import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap"); */

.box {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 50%;
    z-index: 10;
    font-family: "Red Hat Display", sans-serif;
    background-color: rgba(255, 255, 255, 0.377);
}

.column {
    width: 100%;
}

.list {
    padding-left: 3rem;
    padding-right: 3rem;
    /* margin: 50px auto; */
    align-content: center;
    /* overflow: auto; */
    background-color: rgba(255, 255, 255, 0.5);
}

.list .item {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: white;
    height: 3rem;
    border-radius: 4rem;
    margin-bottom: 2rem;
    background: grey;
    /* background: grey;
    background: #4b5320; */
    -webkit-transform-origin: left;
    transform-origin: left;
    cursor: pointer;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

.list .item .pos {
    font-weight: 900;
    position: absolute;
    left: -2rem;
    text-align: center;
    font-size: 1.25rem;
    width: 1.5rem;
    color: black;
    opacity: 0.6;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.list .item .pic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}

.list .item .name {
    -webkit-box-flex: 2;
    flex-grow: 2;
    flex-basis: 10rem;
    font-size: 1.1rem;
}

.list .item .score {
    margin-right: 1.5rem;
    opacity: 0.75;
}

.list .item .score:after {
    margin-right: 1rem;
    content: "points";
    opacity: 0.65;
}

.list .item:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.list .item:hover .pos {
    opacity: 0.8;
}

.newline {
    display: none;
}

footer {
    position: relative;
    padding: 15px 10px 15px 10px;
    width: 100%;
    /* Height of the footer*/
    color: grey;
    height: 5vh;
    width: 100vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0px !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ieee {
    display: flex;
    height: 5vh;
}

@media screen and (max-width: 480px) {
    .box {
        overflow: hidden;
        /* width: 40%; */
        width: 100%;
        z-index: 10;
        font-family: "Red Hat Display", sans-serif;
        background-color: rgba(8, 6, 6, 0);
    }
    .content {
        /* border-radius: 0px !important;
        padding: 5px !important;
        font-size: 0.7em !important; */
        width: 100% !important;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
    }
    .list .item {
        position: relative;
        display: -webkit-box;
        display: flex;
        width: 100%;
        -webkit-box-align: center;
        align-items: center;
        background: white;
        height: 3rem;
        border-radius: 4rem;
        margin-bottom: 2rem;
        /* background: #eaa786; */
        background: grey;
        /* background: #4b5320; */
        */ -webkit-transform-origin: left;
        transform-origin: left;
        cursor: pointer;
        -webkit-transition: -webkit-transform 200ms ease-in-out;
        transition: -webkit-transform 200ms ease-in-out;
        transition: transform 200ms ease-in-out;
        transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
        box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
    }
    body,
    html {
        width: 100%;
        background-attachment: fixed;
    }
    .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
    }
    .topnav {
        display: block;
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
    .topnav-brand {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        color: #d99236;
        font-size: xx-large;
    }
    .topnav #myLinks {
        display: none;
    }
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .active {
        background-color: #4CAF50;
        color: white;
    }
    header {
        display: none;
    }
    .newline {
        display: block;
    }
    footer {
        position: relative;
        margin-bottom: 0px;
        padding: 15px 10px 15px 10px;
    }
    .website {
        display: none;
    }
    .search {
        color: white;
    }
}