@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.veil {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(16, 16, 31, 0.8);
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

html {
    --myleftop: white;
    --myrightbot: white;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    background: url("the-imitation-game-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    /* flex-wrap: wrap; */
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 10px;
    flex-wrap: wrap;
    min-height: 10vh;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0 6px 6px #d99236;
}

header h1 {
    color: white;
    flex: 1.5;
    flex-shrink: 0;
    display: flex;
    margin-left: 5px;
}

nav {
    flex: 1;
    flex-shrink: 0;
}

nav ul,
a:any-link {
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: justify;
}

header a:hover {
    color: rgb(161, 173, 201);
    text-emphasis: bold;
    text-shadow: 0 0 3px #11e3f1;
    transform: scale(1.1);
}

header nav {
    flex: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    font-family: "Roboto", sans-serif;
}

header nav ul {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 100%;
}

.cursor {
    position: absolute;
    transform: translate(-200%, -200%);
    pointer-events: none;
    z-index: 3;
    transition: all 0.3 ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    /* box-shadow: 60px 40px 20px 10px #0ff; */
    backdrop-filter: blur();
    z-index: 1;
    box-shadow: 0 0 6px 3px #fff, /* inner white */
    0 0 10px 6px #f0f, /* middle magenta */
    0 0 28px 18px #0ff;
}

.link-grow {
    transform: scale(2);
    background: rgba(248, 244, 137, 0.5);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    pointer-events: all;
    margin-top: 10vh;
    width: 80vw;
    min-height: 70vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* border-radius: 15em; */
    /* box-shadow: 0px 0 6px 6px rgb(104, 85, 212); */
}

.socialLogin {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.loghead {
    margin-top: 2em;
    margin-bottom: 1em;
}

.icon3 {
    display: flex;
    justify-content: space-evenly;
    align-items: space-around;
}

.fb-log {
    background-color: transparent;
    background-image: url("fb2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: transparent;
    border-color: transparent;
}

.google-log {
    background-color: transparent;
    background-image: url("google.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border-color: transparent;
    margin-right: 10px;
}

.fb-log:hover {
    background-color: transparent;
    background-image: url("fb2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0 10px 10px #354c8c;
    opacity: 0.7;
}

.google-log:hover {
    background-color: transparent;
    background-image: url("google.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border-color: transparent;
    box-shadow: 0 0 10px 10px #e74b37;
    opacity: 0.7;
}

.btn {
    padding: 10px;
    border-radius: 25px;
    font-size: 1em;
    background-color: white;
    border-color: white;
    margin-bottom: 1em;
    color: black;
    text-shadow: lightblue;
}

.btn a {
    color: rgb(14, 34, 60);
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(107, 149, 190);
    border-color: rgb(113, 147, 182);
    color: aliceblue;
}

.title img {
    max-height: 10vh;
    max-width: 80vw;
}

.details {
    font-family: "Satisfy", cursive;
    font-size: 1.2em;
}

.rules {
    align-self: center;
    z-index: 3 !important;
    position: absolute;
    top: 30vh;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    pointer-events: all;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0 6px 6px rgb(104, 85, 212);
    opacity: 0;
    pointer-events: none;
    padding: 15px;
    padding-left: 5vw;
}

.box-text1 {
    font-family: "Quicksand", sans-serif;
}

.details {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border: 5px transparent;
    border-radius: 100px;
    box-shadow: 0px 0 6px 6px #d99236;
}

footer {
    height: 5vh;
    width: 100vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.ieee {
    display: flex;
    height: 5vh;
}

@media screen and (max-width: 480px) {
    .rules {
        padding: 5px !important;
        padding-left: 10px !important;
        font-size: 0.6em !important;
    }
    .content {
        border-radius: 0px !important;
        padding: 5px !important;
        font-size: 0.7em !important;
    }
}