<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home/login.css'%}" />
    <title>Login</title>
    <link
      rel="shortcut icon"
      href="{% static 'home/qw4.png' %}"
      type="image/png"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          <a class="navbar-brand" href="{% url 'home:home' %}">Qriosity 2.0</a>
        </h1>

        <nav>
          <ul>
            <li>
              <a href="{% url 'user:leaderboard' %}"> LeaderBoard </a>
            </li>
            <li>
              <a href="{% url 'home:login' %}">Login</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="socialLogin">
        <h3>
          Login to be Featured
        </h3>
        <div class="icon3">
          <a href="{% url 'social:begin' 'google-oauth2' %}">
            <button class="google-log"></button>
          </a>
          <a href="{% url 'social:begin' 'facebook' %}">
            <button class="fb-log"></button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
