@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.veil {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(16, 16, 31, 0.8);
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
}

html {
  --myleftop: white;
  --myrightbot: white;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  background: url("back11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: aliceblue;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

header {
  width: 100vw;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 10px;
  flex-wrap: wrap;
  border-radius: 50px;
  box-shadow: 0px 0px 3px 3px rgb(85, 87, 212);
  margin-top: 10px;
  position: fixed;
  top: 0;
}

header h1 {
  color: white;
  flex: 2;
  flex-shrink: 0;
  margin-left: 10px;
}
nav ul,
a:any-link {
  text-decoration: none;
  list-style: none;
  color: white;
}

header a:hover {
  color: rgb(161, 173, 201);
  text-decoration: none;
  text-shadow: 0 0 3px #11e3f1;
  font-size: 1.2em;
}
header nav {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  font-family: "Roboto", sans-serif;
}
header nav ul {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  width: 100%;
}

.cursor {
  position: absolute;
  transform: translate(-200%, -200%);
  pointer-events: none;
  z-index: 3;
  transition: all 0.3 ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  /* box-shadow: 60px 40px 20px 10px #0ff; */
  backdrop-filter: blur();
  box-shadow: 0 0 6px 3px #fff, /* inner white */ 0 0 10px 6px #f0f,
    /* middle magenta */ 0 0 28px 18px #0ff;
}

.link-grow {
  transform: scale(2);
  background: rgba(248, 244, 137, 0.5);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  pointer-events: all;
  margin-top: 10vh;
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15em;
  box-shadow: 0px 0 6px 6px rgb(104, 85, 212);
}

.socialLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: url("loginpage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vh;
  width: 40vw;
  border-radius: 75px;
  opacity: 0.7;
  border-color: transparent;
  box-shadow: 0px 0 6px 6px rgb(104, 85, 212);
}

.icon3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.fb-log {
  background-color: transparent;
  background-image: url("fb3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 3vh;
  width: 15vw;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 5px;
  margin-top: 5px;
}
.google-log {
  background-color: transparent;
  background-image: url("google.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 3vh;
  width: 15vw;
  border-color: transparent;
  margin-right: 10px;
}

.fb-log:hover {
  background-color: transparent;
  background-image: url("fb3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 3vh;
  width: 15vw;
  background-color: transparent;
  border-color: transparent;

  box-shadow: 0 0 5px 5px #354c8c;
  opacity: 0.7;
}
.google-log:hover {
  background-color: transparent;
  background-image: url("google.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 3vh;
  width: 15vw;
  border-color: transparent;
  box-shadow: 0 0 5px 5px #e74b37;
  opacity: 0.7;
}

.btn {
  padding: 10px;
  border-radius: 25px;
  font-size: 1em;
  background-color: black;
  color: white;
  border-color: black;
  margin-bottom: 1em;
}

.btn:hover {
  background-color: rgb(108, 163, 211);
  border-color: rgb(108, 163, 211);
}

.nonauth {
  font-family: "Satisfy", cursive;
  font-size: 1.2em;
}
